/*=========================================================================================
  File Name: _customClasses.scss
  Description: partial- this file containes custom helper classes
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/


// ======================================================================================
// BUTTON
// ======================================================================================

.btn-group {
  button {
    padding: 1rem 1.25rem !important;
  }

  :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn-group-vertical {

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  button {
    padding: 1rem 1.25rem !important;
    width: 100%;
  }

  :not(:first-child) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  :not(:last-child) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}


// ======================================================================================
// BLUR
// ======================================================================================

.blur-1 {
  filter: blur(1px);
}

.blur-2 {
  filter: blur(2px);
}

.blur-3 {
  filter: blur(3px);
}


// ======================================================================================
// CHIP
// ======================================================================================

.con-vs-chip {
  &.number {
    padding-right: unset;
    min-height: 20px;
    min-width: 20px;
    margin-right: 0;

    .vs-chip--text {
      margin-left: unset;
      margin-right: unset;
      font-weight: 600;
    }
  }
}


// ======================================================================================
// COLORS
// ======================================================================================

// text classes
.text-primary {
  color: rgba(var(--vs-primary), 1) !important;
}


.text-success {
  color: rgba(var(--vs-success), 1) !important;
}

.text-danger {
  color: rgba(var(--vs-danger), 1) !important;
}

.text-warning {
  color: rgba(var(--vs-warning), 1) !important;
}

.text-dark {
  color: rgba(var(--vs-dark), 1) !important;
}


// background classes

.bg-primary {
  background-color: rgba(var(--vs-primary), 1) !important;
}


.bg-success {
  background-color: rgba(var(--vs-success), 1) !important;
}

.bg-danger {
  background-color: rgba(var(--vs-danger), 1) !important;
}

.bg-warning {
  background-color: rgba(var(--vs-warning), 1) !important;
}

.bg-dark {
  background-color: rgba(var(--vs-dark), 1) !important;
}


// border classes

.border-primary {
  border-color: rgba(var(--vs-primary), 1) !important;
}

.border-success {
  border-color: rgba(var(--vs-success), 1) !important;
}

.border-danger {
  border-color: rgba(var(--vs-danger), 1) !important;
}

.border-warning {
  border-color: rgba(var(--vs-warning), 1) !important;
}

.border-dark {
  border-color: rgba(var(--vs-dark), 1) !important;
}


// hover background classes

.hover\:bg-primary {
  &:hover {
    background-color: rgba(var(--vs-primary), 1) !important;
  }
}


.hover\:bg-success {
  &:hover {
    background-color: rgba(var(--vs-success), 1) !important;
  }
}

.hover\:bg-danger {
  &:hover {
    background-color: rgba(var(--vs-danger), 1) !important;
  }
}

.hover\:bg-warning {
  &:hover {
    background-color: rgba(var(--vs-warning), 1) !important;
  }
}

.hover\:bg-dark {
  &:hover {
    background-color: rgba(var(--vs-dark), 1) !important;
  }
}


// hover text colors
.hover\:text-primary {
  &:hover {
    color: rgba(var(--vs-primary), 1) !important;
  }
}


.hover\:text-success {
  &:hover {
    color: rgba(var(--vs-success), 1) !important;
  }
}

.hover\:text-danger {
  &:hover {
    color: rgba(var(--vs-danger), 1) !important;
  }
}

.hover\:text-warning {
  &:hover {
    color: rgba(var(--vs-warning), 1) !important;
  }
}

.hover\:text-dark {
  &:hover {
    color: rgba(var(--vs-dark), 1) !important;
  }
}

// Gradient colors
.bg-primary-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-primary), 1), rgba(var(--vs-primary), .7)) !important;
}

.bg-success-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-success), 1), rgba(var(--vs-success), .7)) !important;
}

.bg-danger-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-danger), 1), rgba(var(--vs-danger), .7)) !important;
}

.bg-warning-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-warning), 1), rgba(var(--vs-warning), .7)) !important;
}

.bg-dark-gradient {
  background: linear-gradient(118deg, rgba(var(--vs-dark), 1), rgba(var(--vs-dark), .7)) !important;
}


// ======================================================================================
// DropDown
// ======================================================================================

// Remove padding and border from default dropDown - Used in TheNavbar
.dropdown-custom {
  .vs-dropdown--custom {
    padding: 0 !important;
    border: 0;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08) !important;
    // @apply shadow-lg;
  }

  .vs-dropdown--menu--after {
    background: rgba(var(--vs-primary), 1) !important;
    right: 1.6rem !important;
  }
}


// ======================================================================================
// Grid
// ======================================================================================

.vx-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  & > .vx-col {
    padding: 0 1rem;
  }

  &.match-height>.vx-col {
    display: flex;
  }

  &.no-gutter {
    margin: 0;

    & > .vx-col {
      padding: 0;
    }
  }
}


// ======================================================================================
// Input
// ======================================================================================

.vs-input-no-border {
  .vs-input--input {
    border: none !important;

    &:focus {
      border: none !important;
    }
  }
}

.vs-input-no-shdow-focus {
  .vs-input--input {
    &:focus {
      box-shadow: none !important;
    }
  }
}

.vs-input-shadow-drop {
  input {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  }
}


// ======================================================================================
// Sidebar
// ======================================================================================

.sidebar-spacer {
  width: calc(100% - 260px);
  margin-left: 260px;
}

.sidebar-spacer-with-margin {
  width: calc(100% - 260px - 2.2rem);
  margin-left: calc(260px + 2.2rem);
}

.sidebar-spacer--wide {
  width: calc(100% - 400px);
  margin-left: 400px;
}

.background-absolute {
  .vs-sidebar--background {
    position: absolute;
  }
}

.vs-content-sidebar.items-no-padding {
  .vs-sidebar--items {
    padding: 0;
  }
}

// Create full width sidebar
.full-vs-sidebar {
  .vs-sidebar {
    max-width: calc(100% - 260px);
    margin-left: 260px;
  }
}

@media only screen and (max-width: 992px) {
  .full-vs-sidebar {
    .vs-sidebar {
      max-width: 100%;
      margin-left: 0;
    }
  }
}


// ======================================================================================
// Select
// ======================================================================================

.vs-select-no-border {
  .vs-select--input {
    border: none !important;
  }
}


// ======================================================================================
// Tabs
// ======================================================================================

.tabs-shadow-none {
  .vs-tabs--ul {
    box-shadow: none;
  }
}

.tab-action-btn-fill-conatiner {
  &.con-vs-tabs {
    .vs-tabs--content {
      padding: 23px 10px !important;
    }
  }
}


// ======================================================================================
// Theme: Light & Dark
// ======================================================================================

.d-theme-dark-bg,
.d-theme-dark-light-bg {
  background-color: $white;
}

.d-theme-dark-border {
  border-color: $white;
}

.d-theme-border-grey-light {
  // @apply border-grey-light;
  border-color: #dae1e7;
}

.d-theme-text-inverse {
  color: $white;
}

.theme-dark {
  .d-theme-dark-bg {
    background-color: $theme-dark-bg;
  }

  .d-theme-dark-light-bg {
    background-color: $theme-light-dark-bg;
  }

  .d-theme-input-dark-bg {
    input {
      background-color: $theme-dark-bg;
    }
  }

  .d-theme-heading-color {
    color: $headings-color;
  }

  .d-theme-text-inverse {
    color: $content-color;
  }

  .d-theme-border-grey-light,
  .d-theme-dark-border {
    border-color: $theme-dark-border-color;
  }

  // Table Inverted
  .vs-con-table{
    &.table-dark-inverted {
      .vs-con-tbody {
        .vs-table--tbody-table {
          tr {
            background: $theme-dark-bg !important;
          }
        }
      }
    }
  }
}


// ======================================================================================
// Typography
// ======================================================================================

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-big {
  font-size: 4rem;
}

.text-color-base {
  color: $content-color;
}


// ======================================================================================
// Users List
// ======================================================================================

.user-list {
  display: flex;

  & .con-vs-avatar {
    transition: .3s;

    &:hover {
      transform: translateY(-5px) scale(1.07);
      box-shadow: 0 14px 24px rgba(62, 57, 107, 0.2);
      // transform: translateY(-5px);
      z-index: 999;
    }
  }
}


// ======================================================================================
// Uncategorized
// ======================================================================================

.responsive {
  width: 100%;
  height: auto;
}

ul.bordered-items {
  &>li:not(:last-of-type):not([class*='shadow']) {
    border-bottom: 1px solid $grey-light;
  }
}

.logo-advertimo{
  width: 10rem;
  margin-left: 0.9rem;
}

.logo-advertimo-mobile{
  width: 2rem;
  margin-left: 0.25rem;
}

.darktoggler{
  position: absolute;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  span{
    cursor: pointer;
  }
}

.header-sidebar{
  height:69px;
}

.langtoggler{
  height: 42px;
  display: flex;
  button{
    margin-left: 2.15rem;
  }
}

.langchange{
  margin-right: 2rem;  
}

.header-submenu{
  display: flex;
  align-items: center;
  li{
    margin-right:1rem;
    a.router-link-exact-active{
      button{
        border-color: rgba(var(--vs-primary),1);
      }
    }
  }
}

.success{
  border: 1px solid #28c76f;
  background-color: transparent;
  border-radius: .358rem;
  padding: 0 15px;
  color:#28c76f;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.error{
  border: 1px solid #ea5455;
  background-color: transparent;
  border-radius: .358rem;
  padding: 0 15px;
  color:#ea5455;  
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.warning{
  border: 1px solid #ff9f43;
  background-color: transparent;
  border-radius: .358rem;
  padding: 0 15px;
  color:#ff9f43;  
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase; 
}

.td.vs-table--td span{
  display: table;
}

.login-user{
  font-size: 12px;  
}

.name-user{
  color: #7367f0;
  text-decoration: underline;  
}

.users-page-panel{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul{
    display: flex;
    align-items: center;
    li{
      margin-right:1rem;
      display: flex;
      align-items: center;
      color:rgba(var(--vs-primary),1);
      label{
        margin-left: 0.25rem;   
        font-size: 13px;
        font-weight: 500;     
      }
    }    
  }  
}

.countcheckusers{
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  i{
    margin-right: 0.25rem;
  }
}

.icon-columns:before{
  content:'';
  background-image: url(~@/assets/images/columns.svg);
  width: 18px;
  height: 17px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
}

.curr-select{
  width:70px;
}

.date-icons{
  padding-left:30px;
}

.date{
  position: relative;
  &:before{
    content:'';
    position: absolute;
    background: url(~@/assets/images/calendar.svg) no-repeat;
    width: 20px;
    height: 20px;
    top: 9px;
    left: 6px !important;
    background-size: 100% !important;
  }
}

.vs-button--text{
  white-space: nowrap;
}
.users-page-panel label{
  white-space: nowrap;
}
th .sort-th, th .vs-table-text{
  white-space: nowrap;
}
.td.vs-table--td span{
  white-space: nowrap;
}

@media(max-width: 992px){
  .header-submenu{
    margin: 0;
    padding: 0;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: -10px;  
  }
  .users-page-panel{
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar { width: 0;padding:0 }
  }
  .panel-page{
    position: relative;
    &:before{
      content:'';
      background-image: linear-gradient(90deg, rgba(248,248,248, 0) 0%, rgb(248,248,248) 100%);
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      width: 41px;
      z-index: 99;
    }
  }
  .header-submenu{
    overflow: auto;
    &::-webkit-scrollbar { width: 0; padding:0}
  }
  .date{
    display: none !important;
  }
  .theme-dark .panel-page{
    &:before{
      content:'';
      background-image: linear-gradient(90deg, rgba(38,44,73, 0) 0%, rgb(38,44,73) 100%);
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      width: 41px;
      z-index: 99;
    }
  }
}

.centerx.labelx{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  label{
    margin-left:0.6rem;
    color: rgba(var(--vs-primary),1);
    font-weight: 500;
  }
}

.modal-btn{
  display: flex;
  justify-content: flex-end;
}

.vs-con-input-label.is-label-placeholder{
  margin-top:0;
}
.flatpickr-input{
  height:37.59px;
}

.acc-notes{
  border-bottom: 1px dashed;
  line-height: 1;
  margin-top: 10px;
  font-size: 13px;
}

.status-notes {
  margin-top: 10px;
  input{
    background: #F1F0F7;
  }
  .vs-input--input.normal{
    padding-top:3px !important;
    padding-bottom:3px !important;
    &:focus{
      background:#FFF;
    }
  }
}

.notes-wrap{
  display: flex;
  align-items: center;
  position: relative;
  i{
    margin-top: 10px;
    position: absolute;
    right: 3px;
    cursor: pointer;
  }
}

.account-name, .login-user {
  align-items: center;
  display: flex;
  i{
    font-size: 1.1rem !important;
    width:1.1rem !important;
    height: 1.1rem !important;
    margin-right: 3px;
  }
}

.share-acc li{
  margin:10px;
}

.share-acc .centerx{
  display: flex;
  justify-content: center;  
}

.con-vs-dropdown--menu{
  z-index:99999 !important;
}

.lang-rus{
  background: url(~@/assets/images/rus.svg) no-repeat;
  width: 13px;
  background-size: contain;
  display: block !important;
  height: 17px;
  margin-left: 5px;
}

.account-name{
  flex-direction: column;
  align-items: flex-start;
}

.accname{
  text-decoration: none;
  color: rgba(var(--vs-dark), 1);
  font-weight: 500;
  margin-bottom:5px;
}

.accicons{
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-bottom:5px;
}

.dataad{
  text-decoration: none;
  font-size: 13px;
  color: rgba(var(--vs-dark), 1);
}

.card-number{
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  i{
    width: 1.1rem !important;
    height: 1.1rem !important;
    font-size: 1.1rem !important;
    margin-right: 5px;
  }
}

.card-acc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_bottom{
    span{
      margin:0;
      &:nth-child(1){
        margin-right:20px;
      }
    }
  }  
}

.card-count{
  font-size: 13px;
  font-weight: 500;
  margin-left: 20px;
}

.date-status{
  margin-top:5px;
  font-weight: 500;
  font-size: 13px;
}

.accn{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.date-status{
  i{
    width:1.1rem !important;
    height:1.1rem !important;
    font-size: 1.1rem !important;
  }
}

.iconsad{
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.adimage{
  width: 130px;
  display: block;
}

.panel-right{
  justify-content: flex-end;
}

.comments-title{
  font-size: 17px;
  font-weight: 500;
  display:flex;
  align-items: center;
  i{
    margin-right:10px;
  }
}

.comments-content{
  margin-top: 20px;
}

.label{
  font-size: 13px;
  display: block;
  margin-left: 5px;
  line-height: 21px;
}


.progress-task{
  max-width: 300px;
  width:100%;
  background: rgba(var(--vs-primary), 1);
  border-radius: 5px;
  height: 70px;
  padding: 10px;
  position: fixed;
  right:30px;
  bottom:30px;
  z-index: 999;
  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    span{
      color:#FFF;
      font-size: 14px;
      display: block;
      &:first-child{
        font-weight: 500;
      }
    }
  }
}